<div>
    <h2 id="page-heading">
        <span>Water Orders</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-water-order" [routerLink]="['/water-order/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Water Order
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="waterOrders?.length === 0">
        <span>No waterOrders found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="waterOrders && waterOrders.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="startTimestamp"><span>Start Timestamp</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="duration"><span>Duration</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span>Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="user.login"><span>User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="farm.name"><span>Farm</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let waterOrder of waterOrders ;trackBy: trackId">
                    <td><a [routerLink]="['/water-order', waterOrder.id, 'view']">{{ waterOrder.id }}</a></td>
                    <td>{{ waterOrder.startTimestamp | date:'medium' }}</td>
                    <td>{{ waterOrder.duration }}</td>
                    <td>{{ waterOrder.status }}</td>
                    <td>
                        {{ waterOrder.user?.login }}
                    </td>
                    <td>
                        <div *ngIf="waterOrder.farm">
                            <a [routerLink]="['/farm', waterOrder.farm?.id, 'view']" >{{ waterOrder.farm?.name }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/water-order', waterOrder.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/water-order', waterOrder.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(waterOrder)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
